.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 66px;
  background: #43a5f6;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header ul {
  position: relative;
}
.header ul li {
  position: relative;
  list-style: none;
  float: left;
}
.header ul li a {
  font-size: 1em;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
}
.header ul li a:hover {
  background: #fff;
  color: #43a5f6;
}
.header ul li ul {
  position: absolute;
  left: 0;
  width: 190px;
  background: #43a5f6;
  display: none;
}
.header ul li:hover > ul {
  display: block;
}
.header ul li ul li {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .header {
    padding: 10px 20px;
  }
  .header nav {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background: #43a5f6;
    display: none;
  }
  .header.active nav {
    display: initial;
  }
  .header nav ul li {
    width: 100%;
  }
  .header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  .header nav ul li:hover ul li {
    background: #43a5f6;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  .header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }
  .header.active .menuToggle::after {
    transform: rotate(315deg);
  }
}
